@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Genos:wght@100&family=Lato:wght@300;400&family=Paytone+One&family=Poppins:wght@100;200;300;500;600;700;900&family=Roboto:wght@100;500;700&family=Shantell+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #985986;
}

.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.wrapper .current-date{
  font-size: 1.4rem;
  font-weight: 500;
}

header .icons span{
  height: 40px;
  width: 40px;
  margin: 0 10px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 30%;
  color: #985986;
}

header .icons span:hover{
  background: #f2f2f2;
}

header .icons span:last-child{
  margin: -10px;
}

.calendar{
  padding: 20px;
}

.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar .weeks li{
  font-weight: 500;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}

.calendar ul li{
  position: relative;
  width: calc(100% / 7);
}

.days li.inactive{
  color: #aaa;
}

.days li.active{
  color: #fff;
}

.calendar .days li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before{
  background: #f2f2f2;
}

.days li.active::before{
  background: #985986;
}

